{% extends 'base.html' %}

<article class="blogs">
    {% block content %}
        <h1 class="t_nav"><span>您当前的位置：<a href="{% url 'posts:index' %}">首页</a>&nbsp;&gt;&nbsp;&nbsp;
                搜索&nbsp;&gt;&nbsp;&nbsp;{{ kw }}</span></h1>
        <div class="bloglist left">
            {% for post in posts %}
                <a href="{% url 'posts:detail' post.id %}">
                    <h3>{{ post.title }}</h3>
                    <figure><img src="/static/images/{{ post.cover }}"></figure>
                </a>
                <ul>
                    <p>{{ post.content | truncatechars:90 }}</p>
                    <a title="/" href="{% url 'posts:detail' post.id %}" class="readmore">阅读全文>></a>
                </ul>
                <p class="dateview"><span>{{ post.created_time }}</span><span><b>标签:</b></span>
                    {% for lab in post.labels.all %}
                        <span><a href="/search/?kw={{ lab }}">{{ lab }}</a></span>
                    {% endfor %}
                </p>
            {% endfor %}

            <nav aria-label="Page navigation">
                <ul class="pagination" style="float:none;margin-bottom: 50px">
                    <li>
                        <a href="?kw={{ kw }}&page={{ prev }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page in page_range %}
                        {% if page == cur_page %}
                            <li class='active'><a href="?kw={{ kw }}&page={{ page }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?kw={{ kw }}&page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li>
                        <a href="?kw={{ kw }}&page={{ next }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    {% endblock %}

    {% block aside %}
        <aside class="right">
            <div class="news">
                <h3>
                    <p>栏目<span>最新</span></p>
                </h3>
                <ul class="rank">
                    {% for post in last_posts %}
                        <li><a href="{% url 'posts:detail' post.id %}" title={{ post.title }}>{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
                <h3 class="ph">
                    <p>点击<span>排行</span></p>
                </h3>
                <ul class="category">
                    {% for post in rank_posts %}
                        <li><a href="{% url 'posts:detail' post.id %}" title="{{ post.title }}"
                        >{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="visitors">
                <h3>
                    <p>最近访客</p>
                </h3>
                <ul>
                </ul>
            </div>
        </aside>
    {% endblock %}
</article>

